---
import Layout from "../layouts/Layout.astro";
import { EnvelopeClosedIcon, HomeIcon } from '@radix-ui/react-icons';
import {commonContent} from "../common-content";
import {ChatBubbleIcon} from "@radix-ui/react-icons";
---
<Layout title="O mnie" fullWidth={false}>
    <div class=" w-full flex flex-col items-center">
        <div class="h-full flex items-center justify-center gap-8 flex-col w-full grow">
            <div class="flex h-fit flex-row gap-1 w-full">
                <div class="w-full h-full grow flex flex-col gap-4 justify-center">
                    <h1 class="font-bold text-2xl text-center">Skontaktuj się!</h1>
                    <div class="flex flex-col items-center gap-2.5">
                        <a class="flex justify-center items-center gap-1" href={commonContent.email.link}><EnvelopeClosedIcon /> {commonContent.email.value}</a>
                        <span>
                            <a class="flex justify-center items-center gap-1" href={commonContent.phoneNumber.link}><ChatBubbleIcon /> {commonContent.phoneNumber.value}</a>
                        </span>
                        <address class="flex justify-center items-center gap-1"><HomeIcon /> Pawlikowice 1, 32-020 Pawlikowice</address>
                    </div>
                </div>
            </div>
            <div class="w-full h-fit">
                <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.7941381653395!2d20.064138676993718!3d49.958964071502514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716415552c19d47%3A0xe7e30bbe9850ce7!2sW%20drodze%20do%20siebie%20-%20Gabinet%20Psychoterapii%20Gestalt!5e0!3m2!1spl!2spl!4v1729069550240!5m2!1spl!2spl" style="border:0;" allowfullscreen="true" height="400" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</Layout>
