---
import Layout from "../layouts/Layout.astro";
import { EnvelopeClosedIcon, HomeIcon } from '@radix-ui/react-icons';
import {commonContent} from "../common-content";
import {ChatBubbleIcon} from "@radix-ui/react-icons";
---
<Layout title="Kontakt" fullWidth={false}>
    <div class="prose w-full flex flex-col items-center">
        <div class="h-full flex items-center justify-center gap-8 flex-col w-full grow">
            <div class="flex h-fit flex-row gap-1 w-full">
                <div class="w-full h-full grow flex flex-col gap-4 justify-center">
                    <div class="flex justify-center">
                        <div class="flex justify-center w-fit relative font-artistic">
                            <h1 class=" mb-2">Skontaktuj się!</h1>
                            <svg class="absolute w-full bottom-0 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1213 73" fill="#4F9A62"><path d="M1212.41 5.51c3.05 12.87-22.36 11.93-30.26 15.68-94.32 20.51-269.09 32.42-365.48 37.51-77.91 3.82-155.66 9.93-233.67 11.67-57.49 2.56-115.05-.19-172.57 1.58-121.28.91-243.17 1.88-363.69-13.33-12.51-2.64-25.8-2.92-37.77-7.45-30.66-21.42 26.02-21.53 38.52-19.26 359.95 29.05 364.68 27.36 638.24 17.85 121-3.78 241.22-19.21 426.76-41.46 4.72-.65 9.18 3.56 8.45 8.36a941.74 941.74 0 0 0 54.29-9.21c9.33-2.33 18.7-4.56 27.95-7.19a7.59 7.59 0 0 1 9.23 5.24Z"></path></svg>
                        </div>
                    </div>
                    <div class="flex flex-col items-start gap-2.5">
                        <a class="flex justify-center items-center gap-1" href={commonContent.email.link}><EnvelopeClosedIcon /> {commonContent.email.value}</a>
                        <span>
                            <a class="flex justify-center items-center gap-1" href={commonContent.phoneNumber.link}><ChatBubbleIcon /> {commonContent.phoneNumber.value}</a>
                        </span>
                        <address class="flex justify-center items-center gap-1"><HomeIcon /> Pawlikowice 1, 32-020 Pawlikowice</address>
                    </div>
                </div>
            </div>
            <div class="w-full h-fit">
                <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.7941381653395!2d20.064138676993718!3d49.958964071502514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716415552c19d47%3A0xe7e30bbe9850ce7!2sW%20drodze%20do%20siebie%20-%20Gabinet%20Psychoterapii%20Gestalt!5e0!3m2!1spl!2spl!4v1729069550240!5m2!1spl!2spl" style="border:0;" allowfullscreen="true" height="400" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</Layout>
